.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: #aaa69e;
  width: 100vw;
  padding: 20px;
}
.header-logo {
  padding-left: 100px;
  width: 200px;
  height: 100px;
}
.nav-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 30px;
  padding-right: 100px;
}
.nav-list li {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  color: white;
}
.background-image {
  background-image: url(https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-position: center;
  background-size: cover;
}

main {
  display: grid;
  align-items: center;
  background-color: #1f94a7;
}
.searching-form h2 {
  text-align: center;
  color: white;
  padding-top: 20px;
}

.form-elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-content: center;
  align-items: center;
  place-items: center;
  color: white;
  gap: 10px;

  padding: 20px;
}
.form-elements select {
  width: 300px;
  height: 40px;
  gap: 10px;
}
.reference-input input {
  width: 300px;
  height: 35px;
}
.form-elements button {
  width: 300px;
  height: 40px;
}

.reset-button {
  width: 300px;
  height: 40px;
  position: absolute;
  left: 855px;
  top: 1500px;
}
.properties-list {
  background-color: white;
  display: grid;
}
.listof-properties {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 20px;
  place-items: center;
}
.listof-properties li {
  list-style: none;
  outline: 1px solid rgb(151, 150, 150);
  display: grid;
}
.properties-list img {
  width: 350px;
  background-position: center;
  background-size: cover;
}
.property-specification {
  display: grid;
  grid-auto-flow: column;
  margin-left: 10px;
}
.property-specification img {
  width: 20px;
  padding-top: 15px;
}

.property-specification span {
  display: grid;
  grid-template-columns: 30px 30px;
}
.property-data {
  padding: 15px;
  color: #1f94a7;
}
footer {
  background-color: #292f32;
}

.nav-list a {
  text-decoration: none;
  color: white;
}
