.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App {
  display: grid;
}
header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  /* background-color: #aaa69e; */
  background-color: white;
  padding: 20px;
}
.header-logo {
  padding-left: 100px;
  width: 200px;
  height: 100px;
}
.nav-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 30px;
  padding-right: 100px;
}
.nav-list li {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;

  font-size: 18px;
  font-weight: bold;
}
.nav-list li :hover {
  color: #1f94a7;
}
.nav-list a {
  text-decoration: none;

  color: rgb(63, 63, 63);
}
.nav-list a.active {
  text-decoration: underline;
}

.background-image {
  background-image: url(https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

main {
  display: grid;
  align-items: center;
  background-color: #1f94a7;
}
.searching-form h2 {
  text-align: center;
  color: white;
  padding-top: 20px;
}

.form-elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  align-content: center;
  align-items: center;
  place-items: center;
  color: white;
  gap: 10px;

  padding: 20px;
}
.form-elements select {
  width: 300px;
  height: 40px;
  gap: 10px;
}
.reference-input input {
  width: 300px;
  height: 35px;
}
.form-elements button {
  width: 300px;
  height: 40px;
}
.searching-form {
  position: relative;
}
.reset-button {
  width: 300px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  right: 199px;
}
.properties-list {
  background-color: white;
  display: grid;
}

.listof-properties {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding-right: 40px;
  gap: 30px;
  place-items: center;
}
.listof-properties a {
  text-decoration: none;
}
.property-list {
  text-align: center;
  color: #f9b431;
}
.listof-properties li {
  list-style: none;
  outline: 1px solid rgb(151, 150, 150);
  display: grid;
}

.properties-list img {
  width: 350px;
  background-position: center;
  background-size: cover;
}
.property-specification {
  display: grid;
  grid-auto-flow: column;
  margin-left: 10px;
}
.property-specification img {
  width: 20px;
  padding-top: 15px;
}

.property-specification span {
  display: grid;
  grid-template-columns: 30px 30px;
}
.property-data {
  padding: 15px;
  color: #1f94a7;
}
.property-elements {
  position: relative;
}
.property-status {
  position: absolute;
  top: -16px;
  right: 0px;
  background-color: #1f94a7;
  padding: 10px;
  color: white;
}

.property-details {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background-color: white;
  padding: 20px;
}
.property-title {
  color: #34495e;
  font-size: 28px;
}
.general-details {
  display: grid;
  grid-auto-flow: column;
  color: #77858e;
  font-weight: bold;
}
.property-details img {
  width: 900px;
}
.property-description {
  display: grid;
  font-size: 20px;
  color: #77858e;
}
.property-description h2 {
  color: #282c34;
}
.property-specifications {
  display: grid;
}

.specific-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 15px;
}
.specific-data li {
  font-size: 18px;
  font-weight: bold;
  color: #77858e;
}
.property-details li {
  list-style: none;
}
.agents-wrapper {
  display: grid;
}
.agents-wrapper h2 {
  text-align: center;
  color: white;
}
.our-agents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  padding-right: 40px;
}
.our-agents img {
  border: 0.5px solid white;
  width: 300px;
  height: 400px;
}
.our-agents li {
  list-style: none;
}
.our-agents p {
  color: #1f94a7;
  color: white;
  font-weight: 700;
  font-size: 21px;
}
.agent-wrapper {
  display: grid;
  color: #1f94a7;
}
.agent-wrapper h2 {
  text-align: center;
}
.our-agent {
  display: grid;
  place-items: start;
}
.our-agent img {
  width: 320px;
  border: 1px solid grey;
}
.our-agent p {
  font-size: 21px;
}

footer {
  background-color: #292f32;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}
.mei-image {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
  padding: 20px;
}
.mei-image img {
  width: 200px;
  height: 100px;
}
.footer-list {
  display: grid;
  gap: 10px;
}
.footer-list li {
  list-style: none;
}
.footer-list a {
  text-decoration: none;
  color: white;
}
.footer-list li :hover {
  color: #1f94a7;
}
.blog {
  display: grid;
  gap: 20px;
}
.blog img {
  width: 160px;
}
